@tailwind base;
@tailwind components;
@layer components{
  .scrol::-webkit-scrollbar{
    display: none
  }
}
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;

}

.item{
  @apply flex items-center gap-5 p-4 cursor-pointer border-b-[1px] border-solid border-gray-400
}

.emg{
  @apply w-[50px] h-[50px] object-cover rounded-[50%]
}

.text{
  @apply flex flex-col gap-2
}

.chat img{
  @apply w-4 h-4 
}

.message{
  @apply max-w-[70%] flex gap-4 
}
.message img{
  @apply w-7 h-7 rounded-[50%] object-cover
}

.own{
  align-self: flex-end;
}

.own p{
  @apply bg-[#5183fe]
}

.text{
  @apply flex-1 flex flex-col gap-[5px]
}

.deet img{
  @apply w-[60px] h-[60px] object-cover rounded-[50%]
}

.enput{
  @apply p-3 border-none outline-none bg-[rgba(17,25,40,0.6)] text-white rounded-[5px]
}